body{

    background-color: #000;
    color: #fefefe;
    margin: 0;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: 100;

}

.container-atividades{

    border-style: none;
    box-shadow: 0 0 100px greenyellow; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin-left: 39%;
    margin-top: 10%;
    padding: 20px;

}

input{

    margin: 5px;
    border-style: none;
    box-shadow: 0 0 20px #fefefe;
    border-radius: 5px;

}
button{

    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #000;
    color: #fefefe;
    cursor: pointer;
    font-size: 20px;

}

button:hover{

    box-shadow: 0 0 20px #fefefe;
    background-color: #fefefe;
    transition-duration: 1.5s;
    color: #000;

}

.media{

    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

}

.pneu{

    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

}

.oracao{

    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

}

.bondinho{

    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

}

.calculadeira{

    border-style: solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

}
