.container-body{
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
}

.cards{
   text-align: center;
}

.produtos{

        
}